{% extends 'katalog/base.html' %}
{% block title %} index {% endblock %}

{%block content %}
<style>
body {
    font-family: "Lato", sans-serif;
}
.content_flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
.content_flex .filter {
    background-color: #ade7ff2b;
    margin-left: 20px;
    width: 20%;
    padding: 1.5rem 2rem 2rem 0em;
    box-sizing: border-box;
}
.content_flex .catalog {
    margin-left: 10px;
    width: 80%;
    padding: 1rem 0rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 10px;
}
</style>
<div class="content_flex">
    <div class="filter">
        <form method="get" action="{% url 'filter' %}">
            <input type="submit" value="search">
            {{form.as_p}}
        </form>
    </div>
    <div class="catalog">
        {% for puzzle in puzzles%}

        <div class="alert alert-dark" role="alert">
            <a href="/katalog/{{puzzle.id}}">
                <img src="{{puzzle.img.url}}" alt="photo" width="200" height="200" class="rounded">
            </a>
            <p>{{puzzle}}</p>
            {% if puzzle.counter%}
            <form action="{% url 'add_puzzle_to_cart' puzzle.id %}" method="get">
                <p>Price: {{puzzle.price}}</p>
                <input name= "quantity" type="number" min="1" max="{{puzzle.counter}}" value="1">
                <input type="submit" value="Add to basket" class="btn btn-primary">
            </form>
            {% else %}
            <p>Price: {{ puzzle.price }}</p>
            <p>not available</p>
            {% endif  %}
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}